
<div>
    Total Paid Customers: {{customers.length}} <br/>
    Total Amount Paid: ${{add customers}}.00 <br/>
    Total Donation Amount: ${{donationAdd customers}}.00 <br/>
</div>

<div>
    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Total Amount</th>
            <th>Donation Amount</th>
        </tr>
        <tbody>
            {{#customers}}
                {{#ifNotTest . }}

                <tr>
                    <td>
                        {{first_name}}
                    </td>
                    <td>
                        {{last_name}}
                    </td>
                    <td>
                        {{email}}
                    </td>
                    <td>
                        {{money amount }}
                    </td>
                    <td>
                        {{donationAmount amount }}
                    </td>
                </tr>
                {{else}}

                {{/ifNotTest}}
            {{/customers}}
        </tbody>
    </table>
</div>
<br />
<div></div>